@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .txt-type > .txt {
    @apply border-r-[0.2rem] border-gray-500;
  }

  .text-glow {
    text-shadow: 0 0 80px rgb(192 219 255 / 75%), 0 0 32px rgb(65 120 255 / 24%);
  }

  .text-gradient {
    background: linear-gradient(to right, #30cfd0, #c43ad6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
